# CONFIGURATION

# This plan has no required variables but requires some modifications
# in order to be used in a live environment, e.g. SSH access.

################
#  NETWORKING  #
################

# You will need to specify the `vpc_id` if the region you're deploying
# to does not have a default VPC.
#vpc_id = ""
#subnet_id = ""

##############
# SSH ACCESS #
##############

# You can supply either a just a `key_name` to use an existing key, or
# or supply both the `key_name` and `public_key` to create a key.
#
# By default, port 22 access is restricted to the external IP address of the 
# machine running Terraform so setting `ssh_cidr` overrides that.

#key_name = ""
#public_key = ""
#ssh_cidr = ""

#############################
# APP AND INSTANCE SETTINGS #
#############################

#app_name = ""
#instance_type = "t2.xlarge"
#delete_root_volume_on_termination = false
